* {
  margin: 0;
  padding: 0;
}
.content {
  padding-bottom: 50px;
}
.life {
  width: 100%;
  background-color: white;
  border-radius: 5px;
}
.life p {
  margin-top: 20px;
  padding: 5px 20px;
  border-left: 5px solid red;
}
.life .tupian {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px dotted gray;
}
.life .tupian li {
  width: 130px;
  height: 150px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.life .tupian li:hover {
  color: red;
}
.life .tupian li span {
  font-size: 14px;
}
.life .zi {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.life .zi li {
  width: 130px;
  height: 30px;
  margin-left: 25px;
  margin-bottom: 20px;
  font-size: 14px;
  color: gray;
  text-align: center;
  line-height: 30px;
}
.life .zi li:hover {
  color: red;
}
.footer {
  margin-top: 0px !important;
}
